@font-face {
    font-family: 'Magistral';
    src:  url('Magistral-Medium.woff2') format('woff2'),;
    font-weight: 500;
}

@font-face {
    font-family: 'Magistral';
    src:  url('Magistral-Book.woff2') format('woff2');
    font-weight: normal;
}

@font-face {
    font-family: 'Magistral';
    src:  url('Magistral-Bold.woff2') format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'Magistral';
    src:  url('Magistral-Light.woff2') format('woff2');
    font-weight: 300;
}