.wrapper{
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
html{
    font-size: calc(100vw / 1920 * 10);
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
}
.container{
    width: 100%;
    max-width: 121rem;
    margin: auto;
}

.advantages{
    background-position: center !important;
}


@media (max-width: 962px) {
	html{
		font-size: calc(100vw / 430 * 10);
	}
}

@media (max-width: 1440px) {
	html{
		font-size: calc(100vw / 1920 * 13);
	}
    .advantages__block:nth-child(2){
        right: 25rem !important;
    }
    .main-section__suptitle{
        padding-top: 3rem !important;
    }
}

