@font-face {
    font-family: 'Magistral';
    src:  url('../fonts/Magistral-Medium.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'Magistral';
    src:  url('../fonts/Magistral-Book.woff2') format('woff2');
    font-weight: normal;
}

@font-face {
    font-family: 'Magistral';
    src:  url('../fonts/Magistral-Bold.woff2') format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'Magistral';
    src:  url('../fonts/Magistral-Light.woff2') format('woff2');
    font-weight: 300;
}