@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-VariableFont_wght.ttf');
    font-style: normal;
    font-display: swap;
    font-weight: 500;
}

@font-face {
    font-family: 'Molot';
    src: url('../fonts/Molot.otf');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Steppe-Bold';
    src: url('../fonts/Steppe-Bold.ttf') format('ttf');
    font-weight: normal;
    font-display: swap;
    font-weight: 700;
}
@font-face {
    font-family: 'Steppe-Book';
    src: url('../fonts/Steppe-Book.ttf');
    font-weight: normal;
    font-display: swap;
    font-weight: 400;
}
@font-face {
    font-family: 'Steppe-Light';
    src: url('../fonts/Steppe-Light.ttf') format('ttf');
    font-weight: normal;
    font-display: swap;
    font-weight: 300;
}
@font-face {
    font-family: 'Steppe-Medium';
    src: url('../fonts/Steppe-Light.ttf') format('ttf');
    font-weight: normal;
    font-display: swap;
    font-weight: 500;
}
@font-face {
    font-family: 'Steppe-Thin';
    src: url('../fonts/Steppe-Light.ttf') format('ttf');
    font-weight: normal;
    font-display: swap;
    font-weight: 100;
}