.header{
	position: absolute;
	width: 100%;
	left: 0;
	top: 5rem;
	z-index: 777;
	.container{
		display: flex;
		align-items: center;
		gap: 3.9rem;
	}
}
.logo{
	p{
		font-family: 'Magistral';
		font-weight: 500;
		font-size: 1rem;
		text-align: center;
		padding-bottom: 0.7rem;
		color: #fff;
		&:nth-child(3){
			width: 13rem;
			margin: auto;
			padding-top: 0.7rem;
			border-top: 0.1rem solid #fff;
			font-size: 1rem;
		}
	}
}
.nav{
	display: flex;
	gap: 1.9rem;
	font-family: 'Magistral';
	a{
		color: #fff;
		font-size: 1.5rem;
		text-transform: uppercase;
	}
}
.logo div{
	font-family: 'Magistral';
	font-weight: 500;
	font-size: 2.7rem;
	color: #fff;
	span{
		color: #5D96CB;
	}
}
.header__tel{
	font-family: 'Magistral';
	font-weight: 500;
	font-size: 2.3rem;
	color: #fff;
}
.header__time{
	font-family: 'Magistral';
	font-weight: 300;
	font-size: 2.1rem;
	color: #fff;
	text-align: right;
}

.main-section{
	min-height: 100vh;
	background: url('../images/bg.jpg');
	background-size: cover;
	padding-top: 15rem;
	position: relative;
}
.main-section__services{
	background: rgba($color: #fff, $alpha: 0.3);
	padding: 3rem 0;
	.container{
		display: flex;
		justify-content: space-between;
	}
}
.main-section__services-item{
	font-family: 'Magistral';
	font-weight: 500;
	text-align: center;
	font-size: 1.4rem;
	color: #fff;
}
.main-section__suptitle{
	padding-top: 5rem;
	font-size: 2.1rem;
	font-family: 'Magistral';
	margin-bottom: 1.5rem;
	color: #fff;
}
.main-section__title{
	font-family: 'Magistral';
	font-weight: 500;
	font-size: 6rem;
	color: #fff;
	line-height: 80%;
	margin-bottom: 5rem;
	span{
		display: block;
		font-weight: 300;
		font-size: 4.7rem;
	}
}
.main-section__list{
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	margin-bottom: 3rem;
}
.main-section__li{
	font-family: 'Monserrat', sans-serif;
	font-size: 2.5rem;
	color: #fff;
	padding-left: 1.5rem;
	position: relative;
	&::before{
		content: '';
		position: absolute;
		left: 0;
		top: 1.5rem;
		width: 0.5rem;
		height: 0.5rem;
		background: #fff;
		border-radius: 50%;
	}
}
.main-section__btn{
	font-size: 2.1rem;
	padding: 1.5rem;
	width: 29rem;
	border-radius: 3rem;
	background: #BF2850;
	color: #fff;
	margin-bottom: 1.5rem;
}
.main-section__descr{
	color: #fff;
	font-family: 'Magistral';
	font-weight: 700;
	font-size: 1.7rem;
}
.main-section__advantages{
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 3.9rem;
	background: #0D3A6D;
	.container{
		display: flex;
		justify-content: space-between;
	}
	.main-section__advantages-item{
		color: #fff;
		font-family: 'Magistral';
		font-size: 1.7rem;
		display: flex;
		align-items: center;
		gap: 1.9rem;
		img{
			width: 7rem;
			height: 7rem;
		}
	}
}
.services{
	padding: 7rem 0 10rem;
	.container{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 4.5rem;
	}
}
.section__title{
	font-size: 5.3rem;
}
.section__title{
	font-family: 'Magistral';
	font-weight: 500;
	text-align: center;
	font-size: 5.3rem;
	color: #0D3A6D;
	margin-bottom: 7rem;
	span{
		font-family: 'Magistral';
		font-weight: 300;
		font-size: 3.3rem;
		display: block;
		color: #BF2850;
	}
}
.services__item{
	width: 37rem;
	padding: 1.9rem ;
	background: #fff;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	border-radius: 1.5rem;
	height: 25.8rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.services__item-title{
	font-family: 'Magistral';
	font-weight: 500;
	font-size: 2rem;
	color: #0D3A6D;
}
.services__item-btn{
	padding: 1.5rem;
	font-size: 1.3rem;
	background: #0D3A6D;
	color: #fff;
	text-align: center;
	width: 18.9rem;
	border-radius: 3rem;
	margin-bottom: 1rem;
}
.services__item-btnr{
	padding: 1.5rem;
	font-size: 1.3rem;
	color: #fff;
	text-align: center;
	width: 18.9rem;
	border-radius: 3rem;
	margin-bottom: 1rem;
	background: #BF2850;
}
.advantages__block{
	display: flex;
	flex-direction: column;
	gap: 5rem;
	padding-top: 11rem;
	padding-left: 5rem;
	&:nth-child(2){
		position: absolute;
		right: 43rem;
		.advantages__item{
			flex-direction: row-reverse;
		}
	}
}
.advantages{
	padding-bottom: 7rem;
	background: url('../images/Ресурс 4.png');
	min-height: 83rem;
	background-size: cover;
}
.advantages__item{
	display: flex;
	gap: 1.9rem;
	width: 39.1rem;
	img{
		width: 6.3rem;
		height: 6.3rem;
	}
}
.advantages__item-title{
	font-family: 'Magistral';
	font-weight: 500;
	margin-bottom: 1rem;
	color: #0D3A6D;
	text-align: right;
}
.advantages__item-text{
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5rem;
	color: #0D3A6D;
	text-align: right;
}
.advantages__inner{
	width: 31.5rem;
}

.eliminate__wrapper{
	display: flex;
	justify-content: center;
}
.eliminate__col{
	padding: 0 2.9rem;
	border-right: 0.1rem solid #fff;
	&:last-child{
		border: none;
	}
}
.eliminate__col-service{
	font-family: 'Magistral';
	font-weight: 700;
	font-size: 2rem;
	color: #fff;
	display: flex;
	flex-direction: column;
	margin-bottom: 1.9rem;
	label{
		font-weight: 400;
		display: block;
		padding: 1rem 1.5rem;
		background: #BF2850;
		font-size: 1.5;
		display: inline-block;
		width: 13rem;
		border-radius: 3rem;
		margin-top: 1rem;
	}
}

.eliminate__col-item{
	font-size: 2rem;
	font-family: 'Magistral';
}

.eliminate{
	background: url('../images/bg5.jpg');
	min-height: 65rem;
	background-size: cover;
	margin-bottom: 7rem;
	padding-top: 5rem;
	.section__title{
		color: #fff;
		span{
			color: #fff;
		}
	}
}

.eliminate__col-li{
	font-size: 2rem;
	color: #fff;
	margin-bottom: 0.5rem;
}
.eliminate__col-item{
	color: #fff;
}
.diagnostic{
	min-height: 100rem;
	background: url('../images/diag.jpeg');
	background-size: cover;
	background-position: center;
	padding-top: 7rem;
	position: relative;
	.section__title{
		color: #fff;
		margin-bottom: 1.9rem;
	}
	.section__suptitle{
		font-family: 'Magistral';
		text-align: center;
		font-size: 3.5rem;
		color: #fff;
	}
	.diagnostic__title{
		font-size: 3.5rem;
		font-weight: 700;
		color: #fff;
		margin-top: 14rem;
	}
	.diagnostic__text{
		font-size: 2.5rem;
		color: #fff;
		margin-top: 1rem;
	}
	.diagnostic__top{
		margin-bottom: 15rem;
	}
	.diagnostic__bottom span{
		font-family: 'Magistral';
		font-weight: 300;
		font-size: 2.4rem;
		color: #fff;
	}
	.diagnostic__bottom-tel{
		font-family: 'Magistral';
		font-weight: 900;
		font-size: 3.2rem;
		color: #fff;
	}
	.diagnostic__input{
		input{
			padding: 1rem;
			border-radius: 3rem 0 0 3rem;
			background: #Fff;
			border: none;
			outline: none;
			margin-top: 1rem;
			width: 19rem;
		}
		button{
			padding: 1rem;
			border-radius: 0 3rem 3rem 0;
			background: #BF2850;
			margin-left: -0.5rem;
			color: #fff;
			width: 21rem;
			margin-bottom: 1rem;
		}
	}
	.diagnostic__policy{
		font-family: 'Magistral';
		font-weight: 300;
		color: #fff;
	}
	.diagnostic__block-two{
		position: absolute;
		top: 23rem;
		right: 35rem;
	}
	.diagnostic__contacts-name{
		font-size: 3.8rem;
		font-weight: 700;
		color: #fff;
	}
	.diagnostic__contacts-text{
		font-family: 'Magistral';
		color: #fff;
	}
	.diagnostic__contacts-tel{
		font-family: 'Magistral';
		font-weight: 900;
		font-size: 3.2rem;
		color: #fff;
	}
	.diagnostic__remont span{

	}
	.diagnostic__block-two{
		font-family: 'Magistral';
		font-size: 2.5rem;
		margin-top: 15rem;
		color: #fff;
	}
	.diagnostic__remont img{
		width: 7rem;
		height: 7rem;
		display: block;
		margin-bottom: 1rem;
	}
	.diagnostic__remont{
		margin-bottom: 19rem;
	}
	.diagnostic__socials{
		display: flex;
		gap: 1rem;
	}
	.diagnostic__social{
		img{
			min-width: 7rem;
			min-height: 8rem;
		}
	}
}

.master-bottom{
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 0;
}

.professional{
	padding-top: 7rem;
	padding-bottom: 7rem;
	background: url('../images/bgе.jpg');
	background-size: cover;
	background-position: center;
	position: relative;
	.professional-bg{
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 1;
		background: #fff;
		opacity: 0.7;
		left: 0;
		top: 0;
	}
	.section__title span{
		max-width: 90rem;
		margin: auto;
	}
	.section__title{
		position: relative;
		z-index: 3;
	}
	.container{
		position: relative;
		z-index: 3;
	}
}
.professional__all-top{
	background: #BF2850;
	width: 28rem;
	border-radius: 1.5rem;
	padding: 2.5rem 1rem;
	img{
		display: block;
		width: 11rem;
		margin: auto;
		margin-bottom: 1rem;
	}
	.professional__all-number{
		font-size: 5.3rem;
		text-align: center;
		font-weight: 700;
		color: #fff;
	}
	.professional__all-text{
		text-align: center;
		color: #fff;
		font-size: 2.7rem;
		font-weight: 700;
	}
}
.professional__all{
	width: 28rem;
}
.professional__all-btns{
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-top: 1rem;
}
.professional__all-btn-s{
	padding: 1.5rem;
	border-radius: 1.5rem;
	border: 0.1rem solid #0D3A6D;
}
.professional__all-btn{
	padding: 1.5rem;
	border-radius: 1.5rem;
	background: #0D3A6D;
	color: #fff;
}
.professional__item{
	display: flex;
	align-items: center;
	gap: 5rem;
	padding: 1.5rem;
	border-radius: 1.5rem;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	background: #fff;
}
.professional__inner{
	display: flex;
	flex-direction: column;
	gap: 3rem;
}
.professional__wrapper{
	display: flex;
	gap: 3rem;
}
.professional__item-info{
	display: flex;
	align-items: center;
	gap: 3rem;
}
.professional__item-avatar{
	img{
		width: 13.5rem;
		height: 13.5rem;
	}
}
.professional__item-content img{
	width: 16.5rem;
	margin-bottom: 1.5rem;
}
.professional__item-name{
	font-family: 'Monserrat', sans-serif;
	font-weight: 600;
	font-size: 1.6rem;
	margin-bottom: 3rem;
}
.professional__item-product{
	font-family: 'Monserrat', sans-serif;
	white-space: nowrap;
	font-size: 1.6rem;
	color: #B3B3B3;
}
.professional__item-text{
	font-family: 'Monserrat', sans-serif;
	font-size: 1.6rem;
}


.job{
	&__wrapper{
		display: flex;
		padding-bottom: 8rem;
		justify-content: space-between;
	}
	&__item{
		display: flex;
		gap: 1rem;
		align-items: flex-start;
		max-width: 35rem;
	}
	&__item img{
		width: 3.7rem;
	}
	&__item-title{
		font-family: 'Magistral';
		font-weight: 500;
		margin-bottom: 1rem;
	}
	&__item-text{
		font-size: 1.6rem;
	}
	&__line{
		display: flex;
		justify-content: space-between;
		position: relative;
		width: 95%;
		margin: auto;
		margin-top: -3rem;
	}
	&__number{
		font-family: 'Magistral';
		font-weight: 300;
		font-size: 3.7rem;
		width: 5.7rem;
		height: 5.7rem;
		border-radius: 50%;
		border: 0.25rem solid #BF2850;
		color: #BF2850;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		z-index: 1;
		background: #fff;
		margin-bottom: 5rem;
		&:nth-child(3){
			&::before{
				top: auto;
				bottom: -3rem;
			}
		}
		&:nth-child(5){
			&::before{
				top: auto;
				bottom: -3rem;
			}
		}
		&::before{
			content: '';
			position: absolute;
			top: -3rem;
			left: 50%;
			transform: translateX(-50%);
			width: 0.25rem;
			height: 3rem;
			background: #BF2850;
		}
	}
	.line{
		position: absolute;
		width: 100%;
		border: 0.1rem solid #BF2850;
		top: 2.5rem;
		z-index: -1;
	}
	.diagnostic__input{
		input{
			padding: 1rem;
			border-radius: 3rem 0 0 3rem;
			background: #Fff;
			border: none;
			outline: none;
			margin-top: 1rem;
			width: 19rem;
		}
		button{
			padding: 1rem;
			border-radius: 0 3rem 3rem 0;
			background: #BF2850;
			margin-left: -0.5rem;
			color: #fff;
			width: 27rem;
			margin-bottom: 1rem;
		}
	}
}
.job__wrapper-bottom{
	display: flex;
	justify-content: space-around !important;
}
.job__contacts{
	padding: 5rem 0;
	background: #0D3A6D;
}
.job__contacts-title{
	font-family: 'Magistral';
		font-weight: 500;
	position: absolute;
	top: -3rem;
	left: 50%;
	transform: translateX(-50%);
	padding: 1.5rem;
	background: #BF2850;
	border-radius: 3rem;
	color: #fff;
	font-size: 2.3rem;
}
.job__contacts{
	position: relative;
}
.job__contacts-text{
	display: flex;
	align-items: center;
	width: 43rem;
	gap: 1.5rem;
	color: #fff;
	img{
		width: 3rem;
	}
}
.job__contacts-wrapper .container{
	display: flex;
	justify-content: center;
}

.about{
	padding: 7rem 0 0;
    background: url('../images/bgе.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
	&__content{
		width: 67rem;
	}
	.container{
		position: relative;
		z-index: 1;
	}
	.professional-bg {
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 1;
		background: #fff;
		opacity: .7;
		left: 0;
		top: 0;
	}
	&__title{
		font-family: 'Magistral';
		font-weight: 500;
		font-size: 3rem;
		color: #BF2850;
		margin-bottom: 5rem;
	}
	&__text{
		font-family: 'Monserrat', sans-serif;
		font-size: 2.1rem;
		font-weight: 700;
		color: #0D3A6D;
		margin-bottom: 3rem;
	}
	.flex-min{
		gap: 1.9rem;
	}
	&__flex{
		display: flex;
		gap: 5rem;
		margin-bottom: 1.9rem;
	}
	&__descr{
		font-size: 2.3rem;
		color: #0D3A6D;
	}
	&__adv{
		margin-top: 5rem;
		position: relative;
		z-index: 1;
		background: rgba($color: #fff, $alpha: 0.7);
		padding: 3rem 0;
		.container{
			display: flex;
			gap: 5rem;
			justify-content: center;
		}
	}
	&__adv-item{
		display: flex;
		gap: 1.9rem;
		align-items: flex-start;
		img{
			width: 6rem;
		}
	}
	&__adv-text{
		color: #0D3A6D;
		font-weight: 500;
		max-width: 45.7rem;
	}
	&__adv-tel{
		font-weight: 700;
		font-size: 1.8rem;
		color: #0D3A6D;
	}
}
.about__wrapper{
	display: flex;
	justify-content: center;
	gap: 5rem;
	img{
		width: 41rem;
	}
}

.masters{
	padding: 5rem;
	background: #0D3A6D;
	min-height: 90rem;
	position: relative;
	.section__title{
		color: #fff;
		span{
			color: #EBEEF1;
			opacity: 0.7;
		}
	}
	&__inner{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 3rem;
	}
	&__item{
		width: 48rem;
		display: flex;
		align-items: center;
		gap: 2.5rem;
		color: #fff;
		font-size: 2.1rem;
		img{
			width: 7rem;
		}
	}
	.master-bottom{
		background: #e0dfdf;
	}
	.masters__avatar{
		width: 10rem;
		height: 10rem;
		border-radius: 50%;
		img{
			width: 10rem;
		height: 10rem;
		border-radius: 50%;
		object-fit: cover;
		}
	}
	.swiper-slide{
		background: #fff;
		border-radius: 3rem;
		box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
		padding: 2.5rem;
		display: flex;
	}
	.masters__slider{
		width: 100%;
		overflow: hidden;
		width: 121rem;
		position: absolute;
		bottom: 13rem;
	}
	.masters__name{
		font-size: 1.8rem;
		color: 00;
		margin-bottom: 3rem;
	}
	.masters__pt{
		color: #B3B3B3;
		margin-bottom: 1.5rem;
		p{
			margin-top: 0.5rem;
			color: #000;
			font-weight: 500;
		}
	}
	.master__btn{
      width: 35rem;
	  background: #0D3A6D;
	  border-radius: 3rem;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  text-transform: uppercase;
	  color: #fff;
	  text-transform: uppercase;
	  margin-top: 5rem;
	  padding: 1.5rem;
	  position: absolute;
	  left: 50%;
	  transform: translateX(-50%);
	  bottom: 5rem;
	}
	.swiper-button-prev{
		top: 70%;
		left: 34rem;
		opacity: 1 !important;
		img{
			min-width: 8rem;
		}
	}
	.swiper-button-next{
		top: 70%;
		right: 34rem;
		opacity: 1 !important;
		img{
			min-width: 8rem;
		}
	}
	.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
		display: none;
	}
	.swiper-button-next:after, .swiper-button-prev:after{
		display: none;	
	}

}


.footer{
	padding: 5rem 0;
	background: #0D3A6D;
	.container{
		display: flex;
		justify-content: space-between;
		gap: 10rem;
	}
}
.footer__nav{
	display: flex;
	gap: 7rem;
}
.footer__contacts-tel img{
	width: 1.9rem;
}
.footer__contacts-btn img{
	width: 3rem;	
}
.footer__contacts-item img{
	width: 3rem;
}
.eliminate__col-item-price{
	margin-top: 1rem;
	font-size: 1.5;
	font-weight: 700;
}
.eliminate__col-item{
	margin-bottom: 1.5rem;
}

.footer__nav-block{
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}
.footer__nav-link{
	font-family: 'Magistral';
	color: #fff;
	font-size: 1.6rem;
}
.footer__contacts-top{
	display: flex;
	gap: 5rem;
	margin-bottom: 4rem;
}
.footer__contacts-tel{
	font-family: 'Magistral';
	font-weight: 500;
	padding: 1rem 1.5rem;
	background: #fff;
	border-radius: 3rem;
	color: #BF2850;
	display: flex;
	gap: 1rem;
	align-items: center;
	font-size: 1.9rem;
}
.footer__contacts-btn{
	font-family: 'Magistral';
	font-weight: 500;
	padding: 1rem 3.5rem 1rem 1.5rem;
	background: #fff;
	border-radius: 3rem;
	color: #fff;
	display: flex;
	gap: 1rem;
	align-items: center;
	font-size: 1.7rem;
	text-align: left;
	background: #BF2850;
}
.footer__contacts-block{
	display: flex;
	gap: 5rem 9rem;
	max-width: 80rem;
	flex-wrap: wrap;
}
.footer__contacts-item{
	font-family: 'Magistral';
	font-weight: 300;
	width: 25rem;
	display: flex;
	align-items: center;
	gap: 1rem;
	font-size: 1.6rem;
	color: #fff;
	img{
			
	}
}

.services__item{
	overflow: hidden;
	.services__item-btns{
		position: relative;
		z-index: 1;
	}
	position: relative;
	&:nth-child(2){
		img{
			width: 17rem;
		}
	}
	&:nth-child(4){
		img{
			right: -2.5rem;
			bottom: -1.5rem;
		}
	}
	&:nth-child(5){
		img{
			width: 37rem;
			right: -3.5rem;
		}
	}
	&:nth-child(6){
		img{
			width: 27rem;
			bottom: -10rem;
			right: -3rem;
		}
	}
	 img{
		position: absolute;
		right: 0;
		bottom: 0;
		width: 13.4rem;
	 }
}


@media (max-width: 962px) {
	html{
		font-size: calc(100vw / 430 * 10);
	}
	.main-section{
		padding-top: 5rem;
	}
	.main-section__services{
		display: none;
	}
	.nav{
		display: none;
	}
	.header{
		top: 2.5rem;
	}
	.header__tel{
		font-size: 1.8rem;
	}
	.header__time{
		font-size: 1.5rem;
	}
	.main-section{
		padding-top: 10rem;
	}
	.header .container{
		justify-content: center;
		padding: 1.5rem 0;
	}
	.main-section .container{
		padding-left: 1.9rem;
	}
	.main-section__suptitle{
		font-size: 1.8rem;
		margin-bottom: 1rem;
	}
	.main-section__title{
		font-size: 5rem;
	}
	.main-section__title span{
		font-size: 3rem;
	}
	.main-section__li{
		font-size: 1.9rem;
	}
	.main-section__advantages{
		display: none;
	}
	.main-section{
		min-height: 100dvh;
	}
	.section__title{
		font-size: 3rem;
		margin-bottom: 3rem;
	}
	.section__title span{
		font-size: 2.5rem;
		max-width: 90%;
		margin: auto;
	}
	.container{
		padding: 0 1.5rem;
	}
	.services__item{
		width: 100%;
	}
	.advantages__block{
		position: static !important;
		padding-left: 0 !important;
		padding-top: 0;
	}
	.advantages__item{
		flex-direction: row-reverse;
		background: #fff;
		padding: 1rem;
		border-radius: 3rem;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	}
	.advantages__block{
		gap: 3rem;
		margin-bottom: 3rem;
	}
	.advantages {
		background-position: center;
	}
	.eliminate__wrapper{
		flex-direction: column;
		gap: 3rem;
	}
	.eliminate__col{
		border: none;
	}
	.job__line{
		display: none;
	}
	.job__wrapper{
		flex-direction: column;
		gap: 3rem;
		padding-bottom: 3rem;
	}
	.job__contacts-title{
		display: none;
	}
	.job__contacts-wrapper .container{
		flex-direction: column;
	}
	.diagnostic__input{
		display: flex;
		flex-direction: column;
		input{
			margin-top: 3rem !important;
			width: 100% !important;
			border-radius: 3rem !important;
			padding: 1.5rem;
		}
	}
	.job .diagnostic__input button{
		width: 100%;
		border-radius: 3rem !important;
		padding: 1.5rem;
		margin-top: 1rem;
	}
	.about__wrapper{
		flex-direction: column;
	}
	.about__text{
		font-size: 1.7rem;
	}
	.about__content{
		width: 100%;
	}
	.about__flex{
		flex-direction: column;
	}
	.about__adv .container{
		flex-direction: column;
	}
	section{
		overflow: hidden;
	}
	.masters{
		padding: 5rem 1rem;
	}
	.masters .swiper-button-next{
		right: 1rem;
	}
	.masters .swiper-button-prev{
		left: 1.5rem;
	}
	.masters__item img{
		width: 5rem;
	}
	.masters__item{
		font-size: 1.7rem;
	}
	.masters{
		min-height: 105vh;
	}
	.master-bottom{
		height: 30rem;
	}
	.masters .swiper-button-next{
		top: 73%;
	}
	.masters .swiper-button-prev{
		top: 73%;
	}
	.professional__wrapper{
		flex-direction: column;
	}
	.professional__all{
		width: 100%;
	}
	.professional__all-top{
		width: 100%;
	}
	.professional__item{
		flex-direction: column;
		gap: 1.5rem;
	}
	.diagnostic{
		background-position: left;
	}
	.diagnostic .diagnostic__title{
		margin-top: 5rem;
	}
	.diagnostic__remont{
		display: none;
	}
	.diagnostic__contacts{
		display: none;
	}
	.diagnostic .diagnostic__top{
		margin-bottom: 7rem;
	}
	.diagnostic__policy{
		text-align: center;
	}
	.diagnostic .diagnostic__input button{
		width: 100%;
		border-radius: 3rem;
		margin-top: 1.9rem;
	}
	.diagnostic{
		padding-bottom: 7rem;
	}
	.diagnostic .section__suptitle{
		font-size: 2.1rem;
	}
	.footer .container{
		flex-direction: column;
	}
	.footer .container{
		gap: 5rem;
	}
	.footer__contacts-top{
		flex-direction: column;
	}
	.footer__contacts-tel{
		justify-content: center;
	}
	.footer__contacts-btn{
		font-size: 1.5rem;
		justify-content: center;
		br{
			display: none;
		}
	}
	.footer__contacts-top{
		gap: 3rem;
	}
	.footer__contacts-item{
		width: 100%;
		font-size: 2.3rem;
		br{
			display: none;
		}
	}
}